/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */


.ws__header-dark {
  background-color: transparent;
}

.collaboration-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}
