/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.popover-width {
  width: 400px;
}

.header-width {
  width: 95%;
}

.submit-button {
  color: #ffffff;
  margin-top: 15px;
  float: right;
}

.textArea-leftMargin {
  margin-left: 10px;
}

.display-flex {
  display: flex;
}

.comments-list {
  max-height: 150px;
  overflow: auto;
}

.count-badge {
  position: absolute;
  margin-left: -15px;
  margin-top: -5px;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #B3B3B3;
}
